<h1>Camps</h1>
<b><a href="/campgrounds/new">Add new</a></b>
<ul>
  <% for (let campground of campgrounds){ %>
  <li>
    <a href="/campgrounds/<%=campground._id%>"><%= campground.title %></a>
  </li>
  <% } %>
</ul>
