<h1>Title <%= campground.title %></h1>
<p>campground Location: <%= campground.location %></p>
<footer>
  <a href="/campgrounds">Go to campgrounds</a>
  <a href="/campgrounds/<%= campground._id %>/edit">Edit campground</a>
</footer>
